body {
    background-color: #22100c;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*banner*/
.banner {
    background-image: url(images/banner.jpg);
    background-position: 20% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: -58px;
    min-width: 1080px;
}

.banner .shadow {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0), #2e1d16);
    height: 100%;
    width: 100%;
}
/*parte alta*/
.cont{
    display: inline-grid;
    grid-template-columns: 246px auto;
    background-color: #2e1d16;
    padding: 0px 50px 0px 50px;
    min-width: 1080px;
}
@media screen and (min-width:1081px){
    .cont{
        padding: 0px 300px 0px 300px;
    }
}
.play{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:20px;
}

.cover{
    display: flex;
    justify-content: center;
}
.imgcover{
    border-radius: 14px;
    box-shadow: 0 0 29px rgba(49, 54, 68, .25);
}

.cont1{
    position: relative;
    top:-150px;
}
.cont2{
    padding-left: 50px;
}

/*bottoni*/
.pbutton {
    box-shadow: 0px 0px 11px 1px #0b0b0ba9;
    background-color: #f03c3d;
    border-radius: 14px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 12px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #0b0b0ba9;
    border-width: 0px;
    position: relative;
    
}

.pbutton:hover {
    background-color: #f56d6d;
}

.pbutton:active {
    position: relative;
    top: 1px;
}
    
/* testo */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #ae9992;
}
.description {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
    padding: 15px 0;
    transition: .2s;
}
.description, td {
    color: #ae9992;
}
h1,
h3,
th {
    color: #8b716d;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.9rem;
    font-weight: 400;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/*nav bar personaggi*/
.menu .active {
    padding: 15px;
    color: #f03c3d;
}

.menu .link {
    padding: 15px;
    color: #8b716d;
}
.link:hover{
    color:#f03c3d;
}
a {
    color: inherit; 
    text-decoration: none;
    transition: .15s;
    outline: 0;
} 

 a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
} 

/* .menu {
    align-self: end;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
    justify-self: center;
    padding-top: 10px;
    background-color: #2e1d16;
    border-radius: 14px;
} */
 .menu{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    background-color: #2e1d16;
    justify-content: space-between;
    text-align: center;
    border-radius: 14px;
 }
 .separator{
    padding:50px 50px 0px 50px;
    min-width: 1080px;
} 
@media screen and (min-width:1081px){
    .separator{
        padding: 50px 300px 0px 300px;
    }
}

/* tabella */
table {
    width: 100%;
    background-color: #2e1d16;
    padding:20px 20px 20px 20px;
    border-radius: 14px;     
}
td,th{
    text-align: left;
}

/* trailer */
.Trailer{
    background-color: #2e1d16;
    border-radius: 14px;
    display: flex;
    justify-self: center;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}
.Trailer h3{
    padding: 10px;
}
.union{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.info{
    padding-right: 10px;
    display: flex;

}
video{
    padding: 10px 20px 20px 10px;
    border-radius: 40px;
    overflow: hidden; 
}

/* galleria */

.Galleria{
    background-color: #2e1d16;
    border-radius: 14px;
    padding: 20px 20px 20px 20px;
    
}
.Galleria h3{
    padding-bottom: 20px;
}
.thumbnail{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1, auto);
    gap:10px;
    max-width: fit-content;
    margin: 0 auto;
}
.img img{
    width: 100%;
    height: auto;
    transition: transform .3s;
    border-radius: 14px;
} 
.img img:hover{
    transform: scale(1.07);
    box-shadow: 0 0 29px #22100c ;
}


/* anime */

.relations{
    background-color: #2e1d16;
    border-radius: 14px;
    padding: 20px;
    width: 100%;
}
 .relations h3{
    padding-bottom: 10px;
} 
.anime{

    display: inline-grid;
    grid-template-columns: 500px auto;
}
.animecover img{
    width: 350px;
    border-radius: 14px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.541);
}
.animeinfo h2{
    color:#f03c3d;
}
/*contattami*/
.fine{
    padding: 20px; 
    width: 100%;
    background-color: black;
    display: inline-grid;
    grid-template-columns: 200px auto;
    min-width: 1080px;
}
.fine p, .fine h2{
    padding-left: 10px;
    color: white;
}


/* ----------------PERSONAGGI--------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 
.container {
    margin-inline: 1.5rem;
    padding-block: 5rem;
  } 
.container__title {
    text-align: center;
    color: #8b716d;
    margin-bottom: 3rem;
  } 
.card__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
} 
.card__product {
    background-color: #22100c;
    padding-block: 1.25rem;
    text-align: center;
    display: grid;
    row-gap: 1.5rem;
    cursor: pointer;
}
.card__img {
    width: 200px;
    justify-self: center;
    filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2));
    border-radius: 14px;
}
.card__name h2{
    font-size: 1.5rem;
    /* margin-bottom: 1.5rem; */
    color: #8b716d;
}

.card__price {
    font-size: 1.25rem;
    color: #ae9992;
}
.card__product:hover {
    transform: scale(1.1);
}
.card__product{
    background-color: #2e1d16;
    border-radius: 14px;
    transition: transform .3s;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: hsla(5, 90%, 4%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(24px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: opacity .4s, visibility .4s;
  }
  .modal__card {
    position: relative;
    background-color: #2e1d16;
    padding: 3rem 1.25rem 2rem;
    display: grid;
    row-gap: 1.5rem;
    text-align: center;
    transform: rotateX(90deg);
    transition: transform .6s;
    border-radius: 14px;
  }
  .modal__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #8b716d;
    cursor: pointer;
  }
  .modal__img {
    width: 220px;
    justify-self: center;
    filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2));
    border-radius: 14px;
  }
  .modal__name {
    font-size: 3rem;
    color: #8b716d;
    margin-bottom: .5rem;
  }
  .modal__info {
    margin-bottom: 1rem;
  }
/* Active modal */
.active-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  
.active-modal .modal__card {
    transform: rotateX(0);
  }
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(3, 300px);
    }
    .container{
        min-width: 1040px;
    }
  }

  @media screen and (min-width: 1081px) {
    /* .container__title {
      margin-bottom: 4.5rem;
    } */
  
    .card__container {
      grid-template-columns: repeat(3, 330px);
      gap: 3rem;
    }
    .card__product {
      padding-block: 2rem;
      border-width: 6px;
    }
    /* .card__name, 
    .card__price {
      font-size: 1rem;
    } */
  
    .modal__card {
      max-width: 50%;
      padding: 3rem 2.5rem 2.5rem;
    }
    .modal__img {
      width: 250px;
    }
    /* .modal__name, 
    .modal__price {
      font-size: 1rem;
    } */
  }

